div.burning {
  display: block;
  height: 78px;

  background-image: url(./burning-digits-opt.gif);

  background-size: auto 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

div.burning[sym="0"] {
  aspect-ratio: 46 / 78;
}

div.burning[sym="1"] {
  aspect-ratio: 20 / 78;
  background-position-x: -68px;
}

div.burning[sym="2"] {
  aspect-ratio: 39 / 78;
  background-position-x: -112px;
}

div.burning[sym="3"] {
  aspect-ratio: 43 / 78;
  background-position-x: -175px;
}

div.burning[sym="4"] {
  aspect-ratio: 44 / 78;
  background-position-x: -241px;
}

div.burning[sym="5"] {
  aspect-ratio: 43 / 78;
  background-position-x: -309px;
}

div.burning[sym="6"] {
  aspect-ratio: 45 / 78;
  background-position-x: -375px;
}

div.burning[sym="7"] {
  aspect-ratio: 44 / 78;
  background-position-x: -442px;
}

div.burning[sym="8"] {
  aspect-ratio: 44 / 78;
  background-position-x: -507px;
}

div.burning[sym="9"] {
  aspect-ratio: 44 / 78;
  background-position-x: -573px;
}

div.burning[sym="."] {
  aspect-ratio: 11 / 78;
  background-position-x: -641px;
}

div.burning[sym=","] {
  aspect-ratio: 14 / 78;
  background-position-x: -674px;
}

div.burning[sym="pp"] {
  aspect-ratio: 92 / 78;
  background-position-x: -708px;
}

div.burning[sym=" "] {
  opacity: 0;
  aspect-ratio: 20 / 78;
}

/* pixel-perfect width */

div.burning.pxw[sym="0"] {
  margin-right: -5px;
}

div.burning.pxw[sym="1"] {
  margin-right: -3px;
}

div.burning.pxw[sym="2"] {
  margin-right: -2px;
}

div.burning.pxw[sym="3"] {
  margin-right: -4px;
}

div.burning.pxw[sym="4"] {
  margin-right: -3px;
}

div.burning.pxw[sym="5"] {
  margin-right: -4px;
}

div.burning.pxw[sym="6"] {
  margin-right: -5px;
}

div.burning.pxw[sym="7"] {
  margin-right: -5px;
}

div.burning.pxw[sym="8"] {
  margin-right: -4px;
}

div.burning.pxw[sym="9"] {
  margin-right: -4px; /* -3? */
}

div.burning.pxw[sym="."] {
  margin-right: -5px;
}

div.burning.pxw[sym=","] {
  margin-right: -7px;
}

div.burning.pxw[sym="pp"] {
  margin-right: -5px;
}
